header {
    display: flex;
    align-items: center;

    width: 1052px;
    padding: 0 28px 0 26.52px;

    font-weight: 400;
    font-size: 18px;
}
.header__menu {}
.header__links-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__links-list-item {
    list-style-type: circle
}

.header__links-list-item__without-marker {
    list-style: none;
}

.header_link_active {
    text-decoration: none;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: 47px;
}

.header__logo > img {
    width: 129.11px;
    height: 104.65px;
}

.address {
    max-width: 240.52px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 24.3px;
}
.address > a {
    text-decoration: none;
    border-bottom: 1px solid black;
}
.header__address {
    margin-left: 196px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 93px;
}
.cover {
    position: relative;
    width: 1100px;
    padding: 165px 50px 51px 50px;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
}
.overlay {
    position: absolute;
    background: #000000;
    opacity: 60%;
    inset: 0;
}
.cover_title {
    position: relative;
    font-size: 100px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.cover_title > .aligned-text_right > .no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text {
    text-align: left;
}
.aligned-text_center {
    text-align: center;
    margin-top: 7px;
}
.aligned-text_right {
    text-align: right;
    margin-top: 3px;
}
.letter-spacing-extended {
    letter-spacing: 0.6em;
}
.cover_description {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78px;

    margin-top: 127px;
    margin-left: 28px;
}
.cover_description-text {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 22px;

    word-spacing: 18px;
}
.bet-button {
    width: 256px;
    height: 51px;
    border: 1px solid #fff;
    color: #FFFFFF;
    font-family: Raleway,sans-serif;
    font-size: 22px;
    line-height: 25.83px;
    font-weight: 500;

    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}
.lots {
    width: 1052px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 182px;
}
.lots__heading {
    margin-left: 40px;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-transform: uppercase;
}
.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 23px
}
.lots__card-list-item {
    width: 334px;
    flex-grow: 1;
    list-style-type: none;
}
.lots__card-list-item>a {
    text-decoration: none;
}
.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-position: center;
    background-size: cover;
    line-height: 24px;

    padding: 51px 40px 48px 40px;
}
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}
.card__title,
.card__text {
    position: relative;
}
.card__title {
    height: auto;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
}
.card__text {
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.lots__look-more-link {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-decoration: none;
}

.lots__show-more {
    margin: 32px 0 0 42px;
    border-bottom: 1px solid black;
    width: fit-content;
}
.about {
    display: flex;
    width: 1052px;
    gap: 72px;
    margin-top: 146px;
}
.about__column--left {
    justify-content: center;
}
.about__column--right {
    max-width: 690px;
    margin-top: 137px;
}
.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 0 47px;
}
.about__logo-image {
    width: 60%;
}
.about__title {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.about__text__wrapper {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.about__text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.upper {
    height: 120px;
    margin-bottom: 24px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    letter-spacing: 0;
}
.lower {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0;
}
footer {
    width: 1000px;
    height: 98px;
    margin-top: 180px;
}
.footer__column {
    display: flex;
    justify-content: space-between;
}
.footer__menu {
    text-align: center;
}
.footer__menu-list {
    list-style: none;
}
.footer__menu-list-item {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
}
.footer__social-list-item {
    width: 48px;
    height: 48px;
}

